
html, body {
    height: 100%;
    margin: 0;
    background-color: black;
  }


img{
    background-repeat:no-repeat; 
    width:100% ;
    height: 100%;
    height: 70vh;

}


.navbar-brand{
  color: white;
}

.nav-link{
  color: white;
}

.navbar-nav{
  gap: 18px;
  justify-content: center;

}


.flex-container {
  height:5vh;
}

#family{
  font-family: 'Bruno Ace', cursive;
}





.icons{
  margin-left: 15px;
}